streamlit
pandas
numpy
matplotlib
seaborn
tensorflow==2.4.0  # Vous pouvez essayer différentes versions si nécessaire
torch
plotly
Pillow
scikit-learn
gdown
transformers
streamlit-elements

