streamlit==1.36.0
pandas==2.2.2
numpy==1.23.5  # Version compatible avec toutes les autres dépendances
matplotlib==3.9.0
seaborn==0.13.2
tensorflow==2.15.1
torch
plotly
Pillow
scikit-learn
gdown
transformers
streamlit-elements

